html,body{
  background-color: #fff;
}
.txt-center {
  display: block;
    text-align: center;
} 
header {
  top: 0;
  height: 45px;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
  font-size: 16px;
  font-weight: bold;
  position: fixed;
  background-color: #fff;
  left: 0;
  right: 0; 
  z-index: 999;
}
.icon-back{
  position: absolute;
  display: block;
  top: 8px;
  width: 15px;
  height: 27px;
  left: 8px;
}
.icon-back img
{
  width:100%;
  height: 100%;
}
