@charset "UTF-8";
html, body, header, h1, h3, h6, input, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0; }

h1, h3, h6 {
  font-weight: 500; }

ul, li {
  list-style: none; }

input, textarea {
  border: 0;
  outline: none; }

a, button, input, div {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

a {
  text-decoration: none; }
  a:focus {
    border: 0; }

html {
  overflow: hidden; }

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
  color: #333;
  font-size: 0.28rem; }

.cl:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.cl {
  zoom: 1; }

.icon, .arrow-left:before, .arrow-right, .dropdown .dropdown-icon:after, .left-icon, .complaint .complaint-list .msg.left .txt:before, .right-icon, .complaint .complaint-list .msg.right .txt:after, .my-arrow-left:before, .clear, .dropdown .clear-icon:after, .arrow-right-black, .arrow-bottom, .icon-location, .icon-phone, .icon-order-null, .icon-notice, .delete:before, .shopcar:before, .edit:before, .radio-icon:before, .select-radio-icon:before, .select-icon-radio, .dialog-box .container ul li .radio.select-radio:after, .icon-radio, .dialog-box .container ul li .radio.no-radio:after, .dialog-box .top .wrong-icon, .index .index-list ul li .cart:before {
  content: '';
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; }

.arrow-left:before {
  width: 0.18rem;
  height: 0.34rem;
  background-image: url(../images/arrow-left.png);
  background-size: 100% 100%; }

.arrow-right, .dropdown .dropdown-icon:after {
  width: 0.16rem;
  height: 0.28rem;
  background-image: url(../images/arrow-right.png);
  background-size: 100%; }

.left-icon, .complaint .complaint-list .msg.left .txt:before {
  width: 0.14rem;
  height: 0.24rem;
  background-image: url(../images/left-icon.png);
  background-size: 100%; }

.right-icon, .complaint .complaint-list .msg.right .txt:after {
  width: 0.14rem;
  height: 0.24rem;
  background-image: url(../images/right-icon.png);
  background-size: 100%; }

.my-arrow-left:before {
  width: 0.18rem;
  height: 0.34rem;
  margin-top: 0.23rem;
  background-image: url(../images/my-arrow-left.png);
  background-size: 100% 100%; }

.clear, .dropdown .clear-icon:after {
  width: 0.2rem;
  height: 0.2rem;
  background-image: url(../images/clear.png);
  background-size: 100%; }

.arrow-right-black {
  width: 0.12rem;
  background-image: url(../images/arrow-right-black.png);
  background-size: 100% 100%; }

.arrow-bottom {
  width: 0.18rem;
  height: 0.1rem;
  background-image: url(../images/arrow-down.png);
  background-size: 100%; }

.icon-location {
  width: 0.33rem;
  background-image: url(../images/location.png);
  background-size: 100%; }

.icon-phone {
  width: 0.36rem;
  background-image: url(../images/phone.png);
  background-size: 100%; }

.icon-order-null {
  width: 2rem;
  background-image: url(../images/order-null.png);
  background-size: 100%; }

.icon-notice {
  width: 0.39rem;
  background-image: url(../images/notice.png);
  background-size: 100%; }

.delete:before {
  width: 0.32rem;
  height: 0.31rem;
  background-image: url(../images/delete.png);
  background-size: 100% 100%; }

.shopcar:before {
  width: 0.38rem;
  height: 0.38rem;
  background-image: url(../images/index-cart.png);
  background-size: 100% 100%; }

.edit:before {
  width: 0.32rem;
  height: 0.31rem;
  background-image: url(../images/edit.png);
  background-size: 100% 100%; }

.radio-icon:before {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.16rem;
  background-image: url(../images/radio-icon.png);
  background-size: 100% 100%; }

.select-radio-icon:before {
  width: 0.32rem;
  height: 0.32rem;
  margin-right: 0.16rem;
  background-image: url(../images/select-radio-icon.png);
  background-size: 100% 100%; }

.select-icon-radio, .dialog-box .container ul li .radio.select-radio:after {
  width: 0.37rem;
  height: 0.37rem;
  background-image: url(../images/select-icon-radio.png);
  background-size: 100%; }

.icon-radio, .dialog-box .container ul li .radio.no-radio:after {
  width: 0.37rem;
  height: 0.37rem;
  background-image: url(../images/radio-icon.png);
  background-size: 100%; }

.scroll::-webkit-scrollbar-track, .dialog-box .container::-webkit-scrollbar-track, .page::-webkit-scrollbar-track, .shop-cart .commodity::-webkit-scrollbar-track, .collect .commodity::-webkit-scrollbar-track, .dialog-info::-webkit-scrollbar-track, .comment .textarea::-webkit-scrollbar-track, .complaint .complaint-list::-webkit-scrollbar-track, .dropdown-item::-webkit-scrollbar-track, .sub-item::-webkit-scrollbar-track, .index .index-list::-webkit-scrollbar-track {
  border-radius: 0.03rem; }
.scroll::-webkit-scrollbar, .dialog-box .container::-webkit-scrollbar, .page::-webkit-scrollbar, .shop-cart .commodity::-webkit-scrollbar, .collect .commodity::-webkit-scrollbar, .dialog-info::-webkit-scrollbar, .comment .textarea::-webkit-scrollbar, .complaint .complaint-list::-webkit-scrollbar, .dropdown-item::-webkit-scrollbar, .sub-item::-webkit-scrollbar, .index .index-list::-webkit-scrollbar {
  width: 0.03rem;
  background-color: rgba(245, 245, 245, 0.1); }
.scroll::-webkit-scrollbar-thumb, .dialog-box .container::-webkit-scrollbar-thumb, .page::-webkit-scrollbar-thumb, .shop-cart .commodity::-webkit-scrollbar-thumb, .collect .commodity::-webkit-scrollbar-thumb, .dialog-info::-webkit-scrollbar-thumb, .comment .textarea::-webkit-scrollbar-thumb, .complaint .complaint-list::-webkit-scrollbar-thumb, .dropdown-item::-webkit-scrollbar-thumb, .sub-item::-webkit-scrollbar-thumb, .index .index-list::-webkit-scrollbar-thumb {
  border-radius: 0.03rem;
  background-color: rgba(245, 245, 245, 0.2); }

.placeholder-color::-webkit-input-placeholder {
  color: #979797; }
.placeholder-color:-moz-placeholder {
  color: #979797; }
.placeholder-color::-moz-placeholder {
  color: #979797; }
.placeholder-color:-ms-input-placeholder {
  color: #979797; }

.dialog-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  visibility: hidden;
  max-height: 80%;
  transform: translateY(100%);
  transition: transform ease-in-out 0.3s, visibility 0.5s; }
  .dialog-box.show {
    transform: translateY(0);
    visibility: visible; }
  .dialog-box .title-box {
    height: 0.92rem;
    line-height: 0.92rem;
    font-size: 0.34rem;
    color: #4c4e63;
    border-bottom: 1px solid #d9dae2;
    display: -webkit-flex;
    /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0.2rem;
    box-sizing: border-box; }
    .dialog-box .title-box .btn-a {
      -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
      flex: 0.5; }
      .dialog-box .title-box .btn-a.cancle {
        font-size: 0.34rem;
        color: #979797;
        text-align: left; }
      .dialog-box .title-box .btn-a.certain {
        font-size: 0.34rem;
        color: #d4151a;
        text-align: right; }
    .dialog-box .title-box .txt {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      text-align: center; }
  .dialog-box.show ~ .dialog-bg {
    display: block; }
  .dialog-box .top {
    background-color: #d4151a;
    padding: 0.2rem;
    font-size: 0.22rem;
    color: #fff;
    position: relative; }
    .dialog-box .top .item {
      line-height: 0.5rem;
      display: -webkit-flex;
      /* Safari */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between; }
      .dialog-box .top .item:first-child {
        margin-top: 0.2rem; }
      .dialog-box .top .item .txt {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-size: 0.3rem;
        font-weight: bold; }
      .dialog-box .top .item .date {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 0.22rem;
        text-align: right; }
      .dialog-box .top .item .name {
        -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
        font-size: 0.26rem; }
      .dialog-box .top .item .time {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 0.22rem;
        text-align: right; }
    .dialog-box .top .remark {
      font-size: 0.26rem; }
    .dialog-box .top .wrong-icon {
      text-align: center;
      width: 0.66rem;
      height: 0.66rem;
      background-color: rgba(212, 21, 26, 0.9);
      border-radius: 0.66rem;
      position: absolute;
      top: -0.33rem;
      left: 50%;
      margin-left: -0.33rem;
      box-shadow: 0.02rem 0.04rem 0.06rem rgba(0, 0, 0, 0.05);
      background-image: url(../images/wrong-icon.png);
      background-size: 0.3rem; }
  .dialog-box .container {
    max-height: 7.9rem;
    overflow-y: auto; }
    .dialog-box .container ul li {
      padding: 0.21rem 0;
      border-bottom: 1px solid #d9dae2;
      margin-left: 0.2rem;
      display: -webkit-flex;
      /* Safari */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      line-height: 0.4rem; }
      .dialog-box .container ul li span {
        -webkit-box-flex: 2.5;
        -ms-flex: 2.5;
        flex: 2.5;
        margin-right: 0.57rem; }
      .dialog-box .container ul li:last-child {
        border-bottom: none; }
      .dialog-box .container ul li .radio {
        position: absolute;
        top: 0.21rem;
        bottom: 0;
        right: 0.2rem;
        width: 0.57rem;
        text-align: right; }

.dialog {
  width: 6.07rem;
  height: 2.43rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  border-radius: 0.06rem;
  display: none; }
  .dialog .msg {
    text-align: center;
    font-size: 0.3rem;
    color: #2a2a2a;
    height: 1.6rem;
    line-height: 1.6rem; }
  .dialog .btn {
    border-top: 1px solid #f3f3f3; }
    .dialog .btn a {
      font-size: 0.28rem;
      color: #6c6c6c;
      height: 0.79rem;
      line-height: 0.79rem;
      text-align: center;
      display: inline-block;
      width: 50%;
      float: left;
      box-sizing: border-box; }
      .dialog .btn a:first-child {
        border-right: 1px solid #f3f3f3; }
      .dialog .btn a:last-child {
        color: #d4151a; }
  .dialog.show {
    display: block; }
  .dialog.show ~ .dialog-bg {
    display: block; }

.dialog-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: none;
  background-color: rgba(0, 0, 0, 0.2); }

.login {
  background-color: #f3f3f3;
  height: 100%; }
  .login .bg {
    width: 100%;
    height: 3.53rem;
    background: url(../images/login-bg.png) no-repeat;
    background-size: 100% 100%;
    position: relative; }
    .login .bg .logo {
      width: 1.81rem;
      height: 1.81rem;
      position: absolute;
      bottom: -0.9rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      border-color: #d4151a;
      background: #fff;
      box-shadow: 0.02rem 0.04rem 0.06rem rgba(212, 21, 26, 0.35); }
      .login .bg .logo .icon, .login .bg .logo .arrow-left:before, .login .bg .logo .arrow-right, .login .bg .logo .dropdown .dropdown-icon:after, .dropdown .login .bg .logo .dropdown-icon:after, .login .bg .logo .left-icon, .login .bg .logo .complaint .complaint-list .msg.left .txt:before, .complaint .complaint-list .msg.left .login .bg .logo .txt:before, .login .bg .logo .right-icon, .login .bg .logo .complaint .complaint-list .msg.right .txt:after, .complaint .complaint-list .msg.right .login .bg .logo .txt:after, .login .bg .logo .my-arrow-left:before, .login .bg .logo .clear, .login .bg .logo .dropdown .clear-icon:after, .dropdown .login .bg .logo .clear-icon:after, .login .bg .logo .arrow-right-black, .login .bg .logo .arrow-bottom, .login .bg .logo .icon-location, .login .bg .logo .icon-phone, .login .bg .logo .icon-order-null, .login .bg .logo .icon-notice, .login .bg .logo .delete:before, .login .bg .logo .shopcar:before, .login .bg .logo .edit:before, .login .bg .logo .radio-icon:before, .login .bg .logo .select-radio-icon:before, .login .bg .logo .select-icon-radio, .login .bg .logo .dialog-box .container ul li .radio.select-radio:after, .dialog-box .container ul li .login .bg .logo .radio.select-radio:after, .login .bg .logo .icon-radio, .login .bg .logo .dialog-box .container ul li .radio.no-radio:after, .dialog-box .container ul li .login .bg .logo .radio.no-radio:after, .login .bg .logo .dialog-box .top .wrong-icon, .dialog-box .top .login .bg .logo .wrong-icon, .login .bg .logo .index .index-list ul li .cart:before, .index .index-list ul li .login .bg .logo .cart:before {
        width: 0.96rem;
        height: 0.96rem;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(../images/logo.png) no-repeat center center;
        background-size: 100% 100%; }
  .login .login-form {
    width: 5.52rem;
    margin: 0 auto;
    margin-top: 1.83rem;
    font-size: 0.24rem;
    color: #939393; }
    .login .login-form .form-field {
      margin-bottom: 0.2rem;
      position: relative; }
      .login .login-form .form-field .icon, .login .login-form .form-field .arrow-left:before, .login .login-form .form-field .arrow-right, .login .login-form .form-field .dropdown .dropdown-icon:after, .dropdown .login .login-form .form-field .dropdown-icon:after, .login .login-form .form-field .left-icon, .login .login-form .form-field .complaint .complaint-list .msg.left .txt:before, .complaint .complaint-list .msg.left .login .login-form .form-field .txt:before, .login .login-form .form-field .right-icon, .login .login-form .form-field .complaint .complaint-list .msg.right .txt:after, .complaint .complaint-list .msg.right .login .login-form .form-field .txt:after, .login .login-form .form-field .my-arrow-left:before, .login .login-form .form-field .clear, .login .login-form .form-field .dropdown .clear-icon:after, .dropdown .login .login-form .form-field .clear-icon:after, .login .login-form .form-field .arrow-right-black, .login .login-form .form-field .arrow-bottom, .login .login-form .form-field .icon-location, .login .login-form .form-field .icon-phone, .login .login-form .form-field .icon-order-null, .login .login-form .form-field .icon-notice, .login .login-form .form-field .delete:before, .login .login-form .form-field .shopcar:before, .login .login-form .form-field .edit:before, .login .login-form .form-field .radio-icon:before, .login .login-form .form-field .select-radio-icon:before, .login .login-form .form-field .select-icon-radio, .login .login-form .form-field .dialog-box .container ul li .radio.select-radio:after, .dialog-box .container ul li .login .login-form .form-field .radio.select-radio:after, .login .login-form .form-field .icon-radio, .login .login-form .form-field .dialog-box .container ul li .radio.no-radio:after, .dialog-box .container ul li .login .login-form .form-field .radio.no-radio:after, .login .login-form .form-field .dialog-box .top .wrong-icon, .dialog-box .top .login .login-form .form-field .wrong-icon, .login .login-form .form-field .index .index-list ul li .cart:before, .index .index-list ul li .login .login-form .form-field .cart:before {
        width: 0.56rem;
        height: 0.56rem;
        position: absolute;
        display: inline-block;
        top: 0.11rem;
        left: 0.15rem;
        line-height: 0.56rem;
        vertical-align: text-top; }
        .login .login-form .form-field .icon.user-icon, .login .login-form .form-field .user-icon.arrow-left:before, .login .login-form .form-field .user-icon.arrow-right, .login .login-form .form-field .dropdown .user-icon.dropdown-icon:after, .dropdown .login .login-form .form-field .user-icon.dropdown-icon:after, .login .login-form .form-field .user-icon.left-icon, .login .login-form .form-field .complaint .complaint-list .msg.left .user-icon.txt:before, .complaint .complaint-list .msg.left .login .login-form .form-field .user-icon.txt:before, .login .login-form .form-field .user-icon.right-icon, .login .login-form .form-field .complaint .complaint-list .msg.right .user-icon.txt:after, .complaint .complaint-list .msg.right .login .login-form .form-field .user-icon.txt:after, .login .login-form .form-field .user-icon.my-arrow-left:before, .login .login-form .form-field .user-icon.clear, .login .login-form .form-field .dropdown .user-icon.clear-icon:after, .dropdown .login .login-form .form-field .user-icon.clear-icon:after, .login .login-form .form-field .user-icon.arrow-right-black, .login .login-form .form-field .user-icon.arrow-bottom, .login .login-form .form-field .user-icon.icon-location, .login .login-form .form-field .user-icon.icon-phone, .login .login-form .form-field .user-icon.icon-order-null, .login .login-form .form-field .user-icon.icon-notice, .login .login-form .form-field .user-icon.delete:before, .login .login-form .form-field .user-icon.shopcar:before, .login .login-form .form-field .user-icon.edit:before, .login .login-form .form-field .user-icon.radio-icon:before, .login .login-form .form-field .user-icon.select-radio-icon:before, .login .login-form .form-field .user-icon.select-icon-radio, .login .login-form .form-field .dialog-box .container ul li .user-icon.radio.select-radio:after, .dialog-box .container ul li .login .login-form .form-field .user-icon.radio.select-radio:after, .login .login-form .form-field .user-icon.icon-radio, .login .login-form .form-field .dialog-box .container ul li .user-icon.radio.no-radio:after, .dialog-box .container ul li .login .login-form .form-field .user-icon.radio.no-radio:after, .login .login-form .form-field .dialog-box .top .user-icon.wrong-icon, .dialog-box .top .login .login-form .form-field .user-icon.wrong-icon, .login .login-form .form-field .index .index-list ul li .user-icon.cart:before, .index .index-list ul li .login .login-form .form-field .user-icon.cart:before {
          background: url(../images/user-icon.png) no-repeat center center;
          background-size: 100% 100%; }
        .login .login-form .form-field .icon.pwd-icon, .login .login-form .form-field .pwd-icon.arrow-left:before, .login .login-form .form-field .pwd-icon.arrow-right, .login .login-form .form-field .dropdown .pwd-icon.dropdown-icon:after, .dropdown .login .login-form .form-field .pwd-icon.dropdown-icon:after, .login .login-form .form-field .pwd-icon.left-icon, .login .login-form .form-field .complaint .complaint-list .msg.left .pwd-icon.txt:before, .complaint .complaint-list .msg.left .login .login-form .form-field .pwd-icon.txt:before, .login .login-form .form-field .pwd-icon.right-icon, .login .login-form .form-field .complaint .complaint-list .msg.right .pwd-icon.txt:after, .complaint .complaint-list .msg.right .login .login-form .form-field .pwd-icon.txt:after, .login .login-form .form-field .pwd-icon.my-arrow-left:before, .login .login-form .form-field .pwd-icon.clear, .login .login-form .form-field .dropdown .pwd-icon.clear-icon:after, .dropdown .login .login-form .form-field .pwd-icon.clear-icon:after, .login .login-form .form-field .pwd-icon.arrow-right-black, .login .login-form .form-field .pwd-icon.arrow-bottom, .login .login-form .form-field .pwd-icon.icon-location, .login .login-form .form-field .pwd-icon.icon-phone, .login .login-form .form-field .pwd-icon.icon-order-null, .login .login-form .form-field .pwd-icon.icon-notice, .login .login-form .form-field .pwd-icon.delete:before, .login .login-form .form-field .pwd-icon.shopcar:before, .login .login-form .form-field .pwd-icon.edit:before, .login .login-form .form-field .pwd-icon.radio-icon:before, .login .login-form .form-field .pwd-icon.select-radio-icon:before, .login .login-form .form-field .pwd-icon.select-icon-radio, .login .login-form .form-field .dialog-box .container ul li .pwd-icon.radio.select-radio:after, .dialog-box .container ul li .login .login-form .form-field .pwd-icon.radio.select-radio:after, .login .login-form .form-field .pwd-icon.icon-radio, .login .login-form .form-field .dialog-box .container ul li .pwd-icon.radio.no-radio:after, .dialog-box .container ul li .login .login-form .form-field .pwd-icon.radio.no-radio:after, .login .login-form .form-field .dialog-box .top .pwd-icon.wrong-icon, .dialog-box .top .login .login-form .form-field .pwd-icon.wrong-icon, .login .login-form .form-field .index .index-list ul li .pwd-icon.cart:before, .index .index-list ul li .login .login-form .form-field .pwd-icon.cart:before {
          background: url(../images/pwd-icon.png) no-repeat center center;
          background-size: 100% 100%; }
      .login .login-form .form-field .input {
        height: 0.8rem;
        line-height: 0.8rem;
        font-size: 0.24rem;
        color: #939393;
        padding-left: 0.88rem;
        padding-right: 0.1rem;
        border: 1px solid #dcdcdc;
        border-radius: 0.4rem;
        background-color: #f3f3f3;
        width: 4.54rem; }
    .login .login-form .button {
      height: 0.8rem;
      line-height: 0.8rem;
      font-size: 0.28rem;
      color: #f3f3f3;
      border-radius: 0.4rem;
      background-color: #d4151a;
      margin-top: 0.73rem;
      text-align: center;
      box-shadow: 0 0 0.2rem rgba(212, 21, 26, 0.5); }

.bar {
  position: absolute;
  right: 0;
  left: 0;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  z-index: 1; }
  .bar.bar-nav {
    top: 0;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #d4151a;
    box-sizing: border-box; }
  .bar.bg-nav {
    top: 0;
    height: 0.68rem;
    line-height: 0.68rem;
    background-color: #fff;
    box-sizing: border-box; }
    .bar.bg-nav .title {
      font-size: 0.34rem;
      color: #6c6c6c; }
    .bar.bg-nav .button-nav.collect {
      font-size: 0.26rem;
      color: #979797; }
  .bar .button-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .bar .button-nav.collect {
      font-size: 0.26rem;
      color: #fff;
      right: 0.2rem; }
    .bar .button-nav.my-arrow-left {
      width: 0.68rem; }
    .bar .button-nav.weather {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.26rem;
      color: #fff; }
      .bar .button-nav.weather .img {
        width: 0.38rem;
        height: 0.51rem; }
      .bar .button-nav.weather span {
        margin-left: 0.1rem; }
  .bar .title {
    font-size: 0.36rem;
    color: #fff;
    text-align: center; }
  .bar.bar-tab {
    bottom: 0;
    height: 0.9rem;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: -0.02rem 0.02rem 0.1rem rgba(0, 0, 0, 0.35); }
    .bar.bar-tab .tab-label {
      display: block;
      font-size: 0.2rem;
      color: #6c6c6c;
      height: 0.3rem;
      line-height: 0.3rem;
      margin-top: -0.05rem;
      text-align: center; }
    .bar.bar-tab .icon-home {
      background-image: url(../images/tab-home.png); }
    .bar.bar-tab .active .icon-home, .bar.bar-tab .tab-item:active .icon-home, .bar.bar-tab .tab-item:hover .icon-home {
      background-image: url(../images/tab-home-hover.png); }
    .bar.bar-tab .icon-shopcar {
      background-image: url(../images/tab-shopcar.png); }
    .bar.bar-tab .active .icon-shopcar, .bar.bar-tab .tab-item:active .icon-shopcar, .bar.bar-tab .tab-item:hover .icon-shopcar {
      background-image: url(../images/tab-shopcar-hover.png); }
    .bar.bar-tab .icon-complaint {
      background-image: url(../images/tab-complaint.png); }
    .bar.bar-tab .active .icon-complaint, .bar.bar-tab .tab-item:active .icon-complaint, .bar.bar-tab .tab-item:hover .icon-complaint {
      background-image: url(../images/tab-complaint-hover.png); }
    .bar.bar-tab .icon-me {
      background-image: url(../images/tab-me.png); }
    .bar.bar-tab .active .icon-me, .bar.bar-tab .tab-item:active .icon-me, .bar.bar-tab .tab-item:hover .icon-me {
      background-image: url(../images/tab-me-hover.png); }
    .bar.bar-tab .icon-home {
      background-image: url(../images/tab-home.png); }
    .bar.bar-tab .active .icon-home, .bar.bar-tab .tab-item:active .icon-home, .bar.bar-tab .tab-item:hover .icon-home {
      background-image: url(../images/tab-home-hover.png); }
    .bar.bar-tab .icon-shopcar {
      background-image: url(../images/tab-shopcar.png); }
    .bar.bar-tab .active .icon-shopcar, .bar.bar-tab .tab-item:active .icon-shopcar, .bar.bar-tab .tab-item:hover .icon-shopcar {
      background-image: url(../images/tab-shopcar-hover.png); }
    .bar.bar-tab .icon-complaint {
      background-image: url(../images/tab-complaint.png); }
    .bar.bar-tab .active .icon-complaint, .bar.bar-tab .tab-item:active .icon-complaint, .bar.bar-tab .tab-item:hover .icon-complaint {
      background-image: url(../images/tab-complaint-hover.png); }
    .bar.bar-tab .icon-me {
      background-image: url(../images/tab-me.png); }
    .bar.bar-tab .active .icon-me, .bar.bar-tab .tab-item:active .icon-me, .bar.bar-tab .tab-item:hover .icon-me {
      background-image: url(../images/tab-me-hover.png); }
    .bar.bar-tab .icon, .bar.bar-tab .arrow-left:before, .bar.bar-tab .arrow-right, .bar.bar-tab .dropdown .dropdown-icon:after, .dropdown .bar.bar-tab .dropdown-icon:after, .bar.bar-tab .left-icon, .bar.bar-tab .complaint .complaint-list .msg.left .txt:before, .complaint .complaint-list .msg.left .bar.bar-tab .txt:before, .bar.bar-tab .right-icon, .bar.bar-tab .complaint .complaint-list .msg.right .txt:after, .complaint .complaint-list .msg.right .bar.bar-tab .txt:after, .bar.bar-tab .my-arrow-left:before, .bar.bar-tab .clear, .bar.bar-tab .dropdown .clear-icon:after, .dropdown .bar.bar-tab .clear-icon:after, .bar.bar-tab .arrow-right-black, .bar.bar-tab .arrow-bottom, .bar.bar-tab .icon-location, .bar.bar-tab .icon-phone, .bar.bar-tab .icon-order-null, .bar.bar-tab .icon-notice, .bar.bar-tab .delete:before, .bar.bar-tab .shopcar:before, .bar.bar-tab .edit:before, .bar.bar-tab .radio-icon:before, .bar.bar-tab .select-radio-icon:before, .bar.bar-tab .select-icon-radio, .bar.bar-tab .dialog-box .container ul li .radio.select-radio:after, .dialog-box .container ul li .bar.bar-tab .radio.select-radio:after, .bar.bar-tab .icon-radio, .bar.bar-tab .dialog-box .container ul li .radio.no-radio:after, .dialog-box .container ul li .bar.bar-tab .radio.no-radio:after, .bar.bar-tab .dialog-box .top .wrong-icon, .dialog-box .top .bar.bar-tab .wrong-icon, .bar.bar-tab .index .index-list ul li .cart:before, .index .index-list ul li .bar.bar-tab .cart:before {
      width: 0.48rem;
      height: 0.48rem;
      margin: 0.06rem 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%; }
  .bar .tab-item {
    display: table-cell;
    width: 1%;
    font-size: 0.2rem;
    text-align: center;
    vertical-align: middle;
    color: #6c6c6c; }
    .bar .tab-item.active .tab-label, .bar .tab-item:hover .tab-label {
      color: #d4151a; }

.foot-nav {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  margin: 0.13rem 0.2rem;
  background: #d4151a;
  border-radius: 0.1rem;
  text-align: center;
  font-size: 0.28rem;
  color: #fff;
  height: 0.7rem;
  line-height: 0.7rem;
  box-shadow: 0 0 0.2rem rgba(212, 21, 26, 0.5);
  display: block; }

.page {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  overflow-y: auto;
  overflow-x: hidden; }

.content {
  padding-top: 0.8rem;
  padding-bottom: 0.9rem; }
  .content.complaint, .content.collect, .content.sub-order, .content.property, .content.index, .content.shop-cart, .content.comment {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .content.property, .content.comment, .content.sub-order {
    padding-top: 0.85rem;
    padding-bottom: 0.97rem; }
  .content.shop-cart {
    padding-top: 0.72rem;
    padding-bottom: 1.71rem; }
  .content.collect {
    padding-top: 0.72rem;
    padding-bottom: 0.9rem; }
  .content.logistics {
    padding-top: 0.85rem;
    padding-bottom: 0; }
  .content.complaint {
    padding-top: 0.72rem; }

.my .banner {
  height: 1.7rem;
  background: #d4151a; }
  .my .banner .header {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0.06rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1.34rem;
    margin-left: 0.29rem;
    margin-top: 0.18rem;
    margin-right: 0.38rem;
    display: inline-block; }
    .my .banner .header img {
      width: 100%;
      height: 100%;
      border-radius: 1.28rem; }
  .my .banner .info {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.28rem;
    line-height: 0.5rem; }
    .my .banner .info .name {
      font-size: 0.3rem;
      color: #fff;
      display: block; }
    .my .banner .info .vip {
      font-size: 0.3rem;
      color: #fff39f;
      display: block; }
.my .order {
  height: 2.11rem;
  padding: 0 0.21rem;
  background: #fff; }
  .my .order .title {
    height: 0.81rem;
    line-height: 0.81rem;
    font-size: 0.26rem;
    color: #6c6c6c;
    border-bottom: 1px solid #dcdcdc; }
  .my .order .my-tab {
    margin-top: 0.18rem; }
    .my .order .my-tab .tab-label {
      display: block;
      font-size: 0.24rem;
      color: #6c6c6c;
      height: 0.3rem;
      line-height: 0.3rem;
      margin-top: 0.05rem;
      text-align: center; }
    .my .order .my-tab .icon-all {
      background-image: url(../images/my-all.png); }
    .my .order .my-tab .active .icon-all, .my .order .my-tab .tab-item:active .icon-all, .my .order .my-tab .tab-item:hover .icon-all {
      background-image: url(../images/my-all-hover.png); }
    .my .order .my-tab .icon-examine {
      background-image: url(../images/my-examine.png); }
    .my .order .my-tab .active .icon-examine, .my .order .my-tab .tab-item:active .icon-examine, .my .order .my-tab .tab-item:hover .icon-examine {
      background-image: url(../images/my-examine-hover.png); }
    .my .order .my-tab .icon-evaluated {
      background-image: url(../images/my-evaluated.png); }
    .my .order .my-tab .active .icon-evaluated, .my .order .my-tab .tab-item:active .icon-evaluated, .my .order .my-tab .tab-item:hover .icon-evaluated {
      background-image: url(../images/my-evaluated-hover.png); }
    .my .order .my-tab .icon-evaluate {
      background-image: url(../images/my-evaluate.png); }
    .my .order .my-tab .active .icon-evaluate, .my .order .my-tab .tab-item:active .icon-evaluate, .my .order .my-tab .tab-item:hover .icon-evaluate {
      background-image: url(../images/my-evaluate-hover.png); }
    .my .order .my-tab .icon, .my .order .my-tab .arrow-left:before, .my .order .my-tab .arrow-right, .my .order .my-tab .dropdown .dropdown-icon:after, .dropdown .my .order .my-tab .dropdown-icon:after, .my .order .my-tab .left-icon, .my .order .my-tab .complaint .complaint-list .msg.left .txt:before, .complaint .complaint-list .msg.left .my .order .my-tab .txt:before, .my .order .my-tab .right-icon, .my .order .my-tab .complaint .complaint-list .msg.right .txt:after, .complaint .complaint-list .msg.right .my .order .my-tab .txt:after, .my .order .my-tab .my-arrow-left:before, .my .order .my-tab .clear, .my .order .my-tab .dropdown .clear-icon:after, .dropdown .my .order .my-tab .clear-icon:after, .my .order .my-tab .arrow-right-black, .my .order .my-tab .arrow-bottom, .my .order .my-tab .icon-location, .my .order .my-tab .icon-phone, .my .order .my-tab .icon-order-null, .my .order .my-tab .icon-notice, .my .order .my-tab .delete:before, .my .order .my-tab .shopcar:before, .my .order .my-tab .edit:before, .my .order .my-tab .radio-icon:before, .my .order .my-tab .select-radio-icon:before, .my .order .my-tab .select-icon-radio, .my .order .my-tab .dialog-box .container ul li .radio.select-radio:after, .dialog-box .container ul li .my .order .my-tab .radio.select-radio:after, .my .order .my-tab .icon-radio, .my .order .my-tab .dialog-box .container ul li .radio.no-radio:after, .dialog-box .container ul li .my .order .my-tab .radio.no-radio:after, .my .order .my-tab .dialog-box .top .wrong-icon, .dialog-box .top .my .order .my-tab .wrong-icon, .my .order .my-tab .index .index-list ul li .cart:before, .index .index-list ul li .my .order .my-tab .cart:before {
      width: 0.52rem;
      height: 0.48rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;
      position: relative; }
    .my .order .my-tab .tab-item {
      display: table-cell;
      width: 1%;
      font-size: 0.24rem;
      text-align: center;
      vertical-align: middle;
      color: #979797; }
      .my .order .my-tab .tab-item.active .tab-label, .my .order .my-tab .tab-item:hover .tab-label {
        color: #d4151a; }
    .my .order .my-tab .count {
      position: absolute;
      right: -0.16rem;
      top: -0.05rem;
      background: #d4151a;
      border-radius: 50%;
      width: 0.32rem;
      height: 0.32rem;
      line-height: 0.32rem;
      font-size: 0.18rem;
      color: #fff;
      text-align: center;
      display: inline-block; }
.my .info-content .list {
  margin: 0.21rem;
  border-radius: 0.06rem; }
  .my .info-content .list .btn {
    background: #fff;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    justify-content: flex-end; }
    .my .info-content .list .btn .button {
      width: 1.4rem;
      height: 0.5rem;
      line-height: 0.5rem;
      border: 1px solid #979797;
      text-align: center;
      margin: 0.2rem 0.15rem;
      font-size: 0.26rem;
      color: #6c6c6c;
      border-radius: 0.06rem;
      display: inline-block; }

.info-list {
  margin-bottom: 0.02rem;
  background: #fff; }
  .info-list ul .info {
    padding: 0 0.15rem;
    border-bottom: 1px solid #f3f3f3; }
  .info-list ul .item {
    line-height: 0.5rem;
    display: -webkit-flex;
    /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between; }
    .info-list ul .item:first-child {
      padding-top: 0.1rem; }
    .info-list ul .item .title {
      -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
      flex: 2.5;
      font-size: 0.3rem;
      color: #2a2a2a; }
    .info-list ul .item .state {
      -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
      flex: 0.5;
      font-size: 0.26rem;
      color: #d4151a; }
    .info-list ul .item .name {
      -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
      flex: 1.5;
      font-size: 0.26rem;
      color: #c6c6c6; }
    .info-list ul .item .time {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-size: 0.22rem;
      color: #979797; }
  .info-list ul .remark {
    background: rgba(212, 21, 26, 0.1);
    font-size: 0.26rem;
    color: #6c6c6c;
    min-height: 1rem;
    padding: 0.1rem 0.15rem;
    line-height: 0.32rem;
    border-bottom: none;
    box-sizing: border-box; }
    .info-list ul .remark p {
      line-height: 0.45rem; }
  .info-list ul .right {
    text-align: right; }
  .info-list ul .type {
    padding: 0.24rem 0;
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    border-bottom: 1px solid #f3f3f3;
    display: -webkit-flex;
    /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between; }
    .info-list ul .type:last-child {
      border-bottom: none; }
    .info-list ul .type .left {
      -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
      flex: 1.5;
      font-size: 0.28rem;
      color: #6c6c6c; }
    .info-list ul .type .right {
      -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
      flex: 1.5;
      font-size: 0.24rem;
      color: #6c6c6c; }

.shop-cart .commodity, .collect .commodity {
  position: absolute;
  top: 0.72rem;
  left: 0;
  right: 0;
  bottom: 1.7rem;
  box-sizing: border-box;
  overflow-y: auto; }

.collect .commodity {
  bottom: 0.8rem; }
  .collect .commodity li {
    padding: 0; }
    .collect .commodity li .item {
      padding: 0.24rem 0 0.26rem 0.22rem;
      display: flex;
      display: -webkit-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .collect .commodity li .operation {
      background: #c6c6c6;
      width: 0.7rem;
      justify-content: center;
      align-items: center; }
      .collect .commodity li .operation.bg-color {
        background: #d4151a; }

.dialog-info {
  max-height: 5rem;
  overflow-y: auto; }
  .dialog-info .square {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 0.24rem;
    color: #d4151a; }
  .dialog-info ul li {
    margin-left: 0.2rem;
    padding-left: 0;
    border-bottom: 1px solid #c6c6c6; }
    .dialog-info ul li:last-child {
      border-bottom: none; }

.commodity li {
  background: #fff;
  padding: 0.24rem 0.22rem 0.26rem 0.22rem;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f3f3f3; }
  .commodity li .radio-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*垂直居中*/
    height: 1.04rem; }
    .commodity li .radio-btn .radio {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 0.32rem;
      flex: 0 0 0.32rem; }
  .commodity li .img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.04rem;
    flex: 0 0 1.04rem;
    margin-right: 0.17rem; }
    .commodity li .img img {
      width: 1.04rem;
      height: 1.04rem; }
  .commodity li .describe {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .commodity li .describe span {
      display: block;
      vertical-align: top; }
    .commodity li .describe .title {
      font-size: 0.28rem;
      color: #979797;
      margin: -0.05rem 0 0.04rem 0; }
    .commodity li .describe .name {
      font-size: 0.24rem;
      color: #6c6c6c;
      margin: 0rem 0 0.1rem 0; }
    .commodity li .describe .num {
      font-size: 0.24rem;
      color: #979797; }
  .commodity li .operation {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .commodity li .operation .opr .delete {
      margin-right: 0.15rem; }
    .commodity li .operation .square {
      font-size: 0.24rem;
      color: #d4151a;
      display: block; }

.order-item {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.2rem;
  background: #fff;
  position: absolute;
  bottom: 0.9rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
  border-bottom: 1px solid #f3f3f3; }
  .order-item .input {
    width: 5.2rem;
    padding-right: 0.2rem; }
  .order-item .radio-btn .radio {
    font-size: 0.24rem;
    color: #333; }
  .order-item .order-btn {
    font-size: 0.26rem;
    color: #fff;
    background: #d4151a;
    width: 1.8rem;
    text-align: center; }
  .order-item.bottom-btn {
    bottom: 0;
    border-bottom: none; }

.pro-list li {
  background: #fff;
  margin-bottom: 0.02rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.28rem;
  color: #6c6c6c; }
  .pro-list li .dropdown .txt {
    -webkit-box-flex: 0.8;
    -ms-flex: 0.8;
    flex: 0.8; }

.tip-box {
  text-align: center;
  margin-top: 0.19rem;
  margin-bottom: 0.19rem;
  font-size: 0.22rem;
  color: #979797; }
  .tip-box .tip-icon {
    display: inline-block;
    margin-right: 0.1rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    vertical-align: top; }
    .tip-box .tip-icon.refresh-icon {
      width: 0.28rem;
      height: 0.28rem;
      background-image: url(../images/refresh-icon.png); }
    .tip-box .tip-icon.smile-icon {
      width: 0.3rem;
      height: 0.3rem;
      background-image: url(../images/smile-icon.png); }

.comment .comment-list {
  position: absolute;
  top: 0.85rem;
  left: 0;
  right: 0;
  bottom: 0.83rem;
  box-sizing: border-box;
  overflow-y: auto;
  margin-bottom: 0.02rem; }
.comment .info {
  background: #fff;
  padding: 0.24rem 0.22rem 0.26rem 0.22rem; }
  .comment .info.comment-info {
    display: flex;
    display: -webkit-flex;
    /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0.2rem; }
    .comment .info.comment-info img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 1.04rem;
      flex: 0 0 1.04rem;
      margin-right: 0.17rem;
      width: 1.04rem;
      height: 1.04rem; }
    .comment .info.comment-info .item {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .comment .info.comment-info .item .title {
        font-size: 0.28rem;
        color: #333;
        margin-bottom: 0.04rem;
        line-height: 0.3rem; }
      .comment .info.comment-info .item .name {
        display: -webkit-flex;
        /* Safari */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        font-size: 0.24rem;
        color: #6c6c6c; }
        .comment .info.comment-info .item .name span:first-child {
          flex: 1; }
        .comment .info.comment-info .item .name span:last-child {
          flex: 1;
          text-align: right; }
  .comment .info.star-box {
    font-size: 0.28rem;
    color: #6c6c6c;
    margin-bottom: 0.02rem; }
    .comment .info.star-box .star {
      margin-left: 0.2rem;
      display: inline-block; }
      .comment .info.star-box .star .star-item {
        display: inline-block;
        width: 0.32rem;
        height: 0.32rem;
        margin-right: 0.18rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 100%;
        background-image: url(../images/off-icon.png); }
        .comment .info.star-box .star .star-item.on-icon {
          background-image: url(../images/on-icon.png); }
.comment .textarea {
  background: #fff;
  padding: 0.2rem;
  height: 3.13rem;
  overflow-y: auto;
  font-size: 0.26rem;
  color: #c6c6c6;
  box-sizing: border-box;
  width: 100%;
  line-height: 0.5rem; }

.logistics .detail-content {
  margin-top: 0.2rem; }
  .logistics .detail-content .title {
    font-size: 0.28rem;
    color: #2a2a2a;
    height: 0.8rem;
    line-height: 0.8rem;
    margin-bottom: 0.02rem;
    background: #fff;
    padding-left: 0.15rem; }
  .logistics .detail-content .status-box {
    margin-bottom: 0.23rem;
    background: #fff; }
    .logistics .detail-content .status-box ul {
      padding-top: 0.25rem;
      margin-left: 0.26rem;
      margin-right: 0.2rem;
      font-size: 0.26rem;
      color: #6c6c6c; }
      .logistics .detail-content .status-box ul li {
        padding-bottom: 0.25rem;
        line-height: 0.4rem;
        display: flex;
        border-left: 0.02rem solid #e0e0e0; }
        .logistics .detail-content .status-box ul li:before {
          content: '';
          border: 0.04rem solid #d9d9d9;
          background-color: #d9d9d9;
          display: inline-block;
          width: 0.18rem;
          height: 0.18rem;
          border-radius: 50%;
          margin-left: -0.13rem;
          margin-right: 0.23rem; }
        .logistics .detail-content .status-box ul li .list {
          flex: 1;
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 0.25rem; }
          .logistics .detail-content .status-box ul li .list .time {
            font-size: em(20); }
        .logistics .detail-content .status-box ul li.news {
          color: #d4151a; }
          .logistics .detail-content .status-box ul li.news:before {
            background-color: #d4151a;
            width: 0.22rem;
            height: 0.22rem;
            border: 0.06rem solid #f2b8ba;
            margin-left: -0.17rem; }
        .logistics .detail-content .status-box ul li:last-child .list {
          border-bottom: none;
          padding-bottom: 0; }
.logistics .map {
  height: 2.91rem;
  width: 100%;
  box-sizing: border-box; }

.complaint .complaint-list {
  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
  bottom: 1.7rem;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0 0.2rem; }
  .complaint .complaint-list .msg {
    margin: 0.3rem 0; }
    .complaint .complaint-list .msg .head-img {
      width: 0.7rem;
      height: 0.7rem;
      vertical-align: top;
      border-radius: 50%; }
    .complaint .complaint-list .msg .txt {
      font-size: 0.26rem;
      color: #6c6c6c;
      border-radius: 0.1rem;
      text-align: left;
      width: 4.14rem;
      display: inline-block;
      border: 1px solid #e1e1e1;
      padding: 0.15rem;
      line-height: 0.4rem;
      position: relative; }
    .complaint .complaint-list .msg.left .txt {
      background: #fff;
      margin-left: 0.17rem; }
      .complaint .complaint-list .msg.left .txt:before {
        position: absolute;
        left: -0.14rem;
        top: 0.15rem; }
    .complaint .complaint-list .msg.right {
      text-align: right; }
      .complaint .complaint-list .msg.right .txt {
        background: rgba(212, 21, 26, 0.7);
        margin-right: 0.17rem;
        color: #fff; }
        .complaint .complaint-list .msg.right .txt:after {
          position: absolute;
          right: -0.14rem;
          top: 0.15rem; }
  .complaint .complaint-list .time {
    text-align: center;
    font-size: 0.22rem;
    color: #979797; }

.dropdown {
  height: 0.8rem;
  line-height: 0.8rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  display: -webkit-flex;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dropdown.border {
    border-bottom: 1px solid #f3f3f3; }
  .dropdown .txt {
    font-size: 0.28rem;
    color: #6c6c6c;
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5; }
  .dropdown .name {
    font-size: 0.28rem;
    color: #2a2a2a;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding-right: 0.56rem;
    overflow: hidden; }
  .dropdown .step {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    font-size: 0.28rem;
    color: #c6c6c6;
    padding-right: 0.56rem; }
    .dropdown .step span {
      padding: 0 0.05rem;
      display: inline-block; }
    .dropdown .step .input {
      width: 1.5rem;
      height: 0.5rem;
      font-size: 0.28rem;
      color: #c6c6c6;
      line-height: 0.5rem;
      text-align: center;
      border: 1px solid #dcdcdc; }
  .dropdown .dropdown-icon, .dropdown .clear-icon {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0.2rem;
    width: 0.56rem;
    text-align: right; }

.dropdown-item, .sub-item {
  position: absolute;
  top: 0.85rem;
  left: 0;
  right: 0;
  bottom: 0.83rem;
  box-sizing: border-box;
  overflow-y: auto;
  margin-bottom: 0.2rem; }

.sub-order .sub-item .commodity {
  margin-top: 0.17rem; }
  .sub-order .sub-item .commodity .square {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 0.24rem;
    color: #d4151a; }

.index .banner {
  height: 3.42rem;
  position: relative; }
  .index .banner .img > li {
    width: 100%;
    position: relative;
    float: left;
    overflow: hidden; }
  .index .banner img {
    width: 100%;
    height: 3.42rem; }
  .index .banner .spot {
    position: absolute;
    bottom: 0.07rem;
    left: 0;
    right: 0;
    text-align: center; }
    .index .banner .spot li {
      display: inline-block;
      width: 0.14rem;
      height: 0.14rem;
      border-radius: 0.14rem;
      background-color: rgba(255, 255, 255, 0.6); }
    .index .banner .spot .active {
      background-color: #d4151a; }
.index .index-list {
  position: absolute;
  top: 4.22rem;
  left: 0;
  right: 0;
  bottom: 0.9rem;
  box-sizing: border-box;
  overflow-y: auto; }
  .index .index-list ul {
    margin: 0.25rem 0.2rem 0.25rem 0; }
    .index .index-list ul li {
      width: 2.1rem;
      height: 2.1rem;
      margin-left: 0.225rem;
      margin-bottom: 0.2rem;
      line-height: 2.1rem;
      background-color: #fff;
      font-size: 0.44rem;
      color: #d4151a;
      position: relative;
      float: left;
      text-align: center;
      box-shadow: 0.06rem 0.06rem 0.06rem rgba(212, 21, 26, 0.03); }
      .index .index-list ul li .cart {
        width: 0.67rem;
        height: 0.67rem;
        background: -webkit-linear-gradient(#f09092, #dc3f43);
        background: -o-linear-gradient(#f09092, #dc3f43);
        background: -moz-linear-gradient(#f09092, #dc3f43);
        background: linear-gradient(#f09092, #dc3f43);
        border-radius: 0.67rem;
        position: absolute;
        right: 0.12rem;
        bottom: 0.14rem;
        text-align: center; }
        .index .index-list ul li .cart:before {
          content: '';
          width: 0.33rem;
          height: 0.34rem;
          background-image: url(../images/index-cart.png);
          background-size: 100%;
          position: absolute;
          top: 25%;
          right: 25%; }

.mobileSelect {
  position: relative;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.mobileSelect .grayLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eee;
  background: rgba(0, 0, 0, 0.2);
  z-index: 888;
  display: block; }

.mobileSelect .content {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 889;
  color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  bottom: -3.5rem;
  left: 0;
  background: white;
  padding-top: 0;
  padding-bottom: 0; }

.mobileSelect .content .fixWidth {
  position: relative;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mobileSelect .content .fixWidth:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.mobileSelect .content .btnBar {
  border-bottom: 1px solid #d9dae2;
  font-size: 0.3403rem;
  height: 0.92rem;
  position: relative;
  line-height: 0.92rem;
  color: #4c4e63;
  padding: 0 0.2rem;
  box-sizing: border-box; }

.mobileSelect .content .btnBar .cancel,
.mobileSelect .content .btnBar .ensure {
  -webkit-box-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5; }

.mobileSelect .content .btnBar .cancel {
  left: 0;
  color: #979797; }

.mobileSelect .content .btnBar .ensure {
  right: 0;
  color: #d4151a; }

.mobileSelect .content .btnBar .title {
  font-size: 0.3403rem;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-align: center; }

.mobileSelect .content .panel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.mobileSelect .content .panel .wheels {
  width: 100%;
  max-height: 4rem;
  overflow: hidden; }

.mobileSelect .content .panel .wheel {
  position: relative;
  z-index: 0;
  float: left;
  width: 50%;
  max-height: 4rem;
  overflow: hidden;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.mobileSelect .content .panel .wheel .selectContainer {
  display: block;
  text-align: center;
  -webkit-transition: -webkit-transform 0.18s ease-out;
  transition: -webkit-transform 0.18s ease-out;
  transition: transform 0.18s ease-out;
  transition: transform 0.18s ease-out, -webkit-transform 0.18s ease-out; }

.mobileSelect .content .panel .wheel .selectContainer li {
  font-size: 0.3rem;
  color: #6c6c6c;
  display: block;
  height: 0.78rem;
  line-height: 0.78rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.mobileSelect .content .panel .selectLine {
  height: 0.78rem;
  line-height: 0.78rem;
  width: 100%;
  position: absolute;
  top: 1.56rem;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #d9dae2;
  border-bottom: 1px solid #d9dae2; }

.mobileSelect .content .panel .shadowMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0), #ffffff);
  opacity: 0.9;
  pointer-events: none; }

.mobileSelect-show {
  opacity: 1;
  z-index: 10000;
  visibility: visible; }

.mobileSelect-show .content {
  bottom: 0; }

/*# sourceMappingURL=common.css.map */
