$ratio: 100;
@function rem($args) { @return $args/$ratio+rem; }
@mixin font-color($font, $color) { font-size: rem($font); color: $color; }
@mixin height-line($height) { height: rem($height); line-height: rem($height); }
//变量
 $h-foot: rem(75);
html, body, header, h1, h3, h6, input, ul, li, p { margin: 0; padding: 0; }
h1, h3, h6 { font-weight: 500; }
ul, li { list-style: none; }
input { border: 0; outline: none; }
a,button,input, div{-webkit-tap-highlight-color:rgba(255,0,0,0);}
a { text-decoration: none;
  &:focus { border: 0; }
}
html { overflow: hidden; }
body { position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-family: "Helvetica Neue", Helvetica, sans-serif; overflow: hidden; color: #393939; font-size: rem(28.01); }
.cl:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
.cl { zoom: 1 }
// icon
.icon { content: ''; display: inline-block; background-position: center center;background-repeat: no-repeat;}
// .arrow-left:before { @extend .icon; width: rem(16); height: rem(28); background-image: url(./images/arrow-left.png); background-size: 100% 100%; }
// .delete:before { @extend .icon; width: rem(28); height: rem(30); background-image: url(./images/delete.png); background-size: 100% 100%; }
// .arrow-right { @extend .icon; width: rem(16); background-image: url(./images/arrow-right.png); background-size: 100%; }
// .arrow-right-black { @extend .icon; width: rem(12); background-image: url(./images/arrow-right-black.png); background-size: 100% 100%; }
// .arrow-bottom { @extend .icon; width: rem(18); height: rem(10); background-image: url(./images/arrow-down.png); background-size: 100%; }
// .icon-location { @extend .icon; width: rem(33); background-image: url(./images/location.png); background-size: 100%; }
// .icon-phone { @extend .icon; width: rem(36); background-image: url(./images/phone.png); background-size: 100%; }
// .icon-order-null { @extend .icon; width: rem(200); background-image: url(./images/order-null.png); background-size: 100%; }
// .icon-notice { @extend .icon; width: rem(30); background-image: url(./images/notice.png); background-size: 100%; }

.scroll { &::-webkit-scrollbar-track { border-radius: rem(3); }
  &::-webkit-scrollbar { width: rem(3); background-color: rgba(0, 0, 0, 0.1); }
  &::-webkit-scrollbar-thumb { border-radius: rem(3); background-color: rgba(0, 0, 0, 0.2); }
}
.placeholder-color { &::-webkit-input-placeholder { color: #f5f5f5; }
  &:-moz-placeholder { color: #f5f5f5; }
  &::-moz-placeholder { color: #f5f5f5; }
  &:-ms-input-placeholder { color: #f5f5f5; }
}
.orange { color: #fd8d37; }
// .yellow { color: #f0b51d; }
