$ratio: 100;
$red: #d4151a;  
$imc: #2a2a2a;
$fc: #6c6c6c;
$sc: #979797;
$ic: #c6c6c6;
$bc: #f3f3f3;
$hc: #939393;
$dc: #dcdcdc;
@function rem($args) { @return $args/$ratio+rem; }

$h-head: rem(80); $h-foot: rem(90);
html, body, header, h1, h3, h6, input, ul, li, p { margin: 0; padding: 0; border:0;}
h1, h3, h6 { font-weight: 500; }
ul, li { list-style: none; }
input,textarea { border: 0; outline: none; }
a,button,input, div{-webkit-tap-highlight-color:rgba(255,0,0,0);}
a { text-decoration: none;
  &:focus { border: 0; }
}
html { overflow: hidden; }
body { position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-family: "Helvetica Neue", Helvetica, sans-serif; overflow: hidden; color: #333; font-size: rem(28); }
.cl:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
.cl { zoom: 1 }
// icon
.icon { content: ''; display: inline-block; background-position: center center;background-repeat: no-repeat;}
.arrow-left:before { @extend .icon; width: rem(18); height: rem(34); background-image: url(../images/arrow-left.png); background-size: 100% 100%; }
.arrow-right { @extend .icon; width: rem(16);height:rem(28);background-image: url(../images/arrow-right.png); background-size: 100%; }
.left-icon { @extend .icon; width: rem(14);height:rem(24);background-image: url(../images/left-icon.png); background-size: 100%; }
.right-icon { @extend .icon; width: rem(14);height:rem(24);background-image: url(../images/right-icon.png); background-size: 100%; }
.my-arrow-left:before { @extend .icon; width: rem(18); height: rem(34);margin-top:rem(23); background-image: url(../images/my-arrow-left.png); background-size: 100% 100%; }
.clear { @extend .icon; width: rem(20); height:rem(20); background-image: url(../images/clear.png); background-size: 100%; }
.arrow-right-black { @extend .icon; width: rem(12); background-image: url(../images/arrow-right-black.png); background-size: 100% 100%; }
.arrow-bottom { @extend .icon; width: rem(18); height: rem(10); background-image: url(../images/arrow-down.png); background-size: 100%; }
.icon-location { @extend .icon; width: rem(33); background-image: url(../images/location.png); background-size: 100%; }
.icon-phone { @extend .icon; width: rem(36); background-image: url(../images/phone.png); background-size: 100%; }
.icon-order-null { @extend .icon; width: rem(200); background-image: url(../images/order-null.png); background-size: 100%; }
.icon-notice { @extend .icon; width: rem(39); background-image: url(../images/notice.png); background-size: 100%; }
.delete:before { @extend .icon; width: rem(32); height: rem(31); background-image: url(../images/delete.png); background-size: 100% 100%; }
.shopcar:before { @extend .icon; width: rem(38); height: rem(38); background-image: url(../images/index-cart.png); background-size: 100% 100%; }
.edit:before { @extend .icon; width: rem(32); height: rem(31); background-image: url(../images/edit.png); background-size: 100% 100%; }
.radio-icon:before { @extend .icon; width: rem(32); height: rem(32);margin-right:rem(16); background-image: url(../images/radio-icon.png); background-size: 100% 100%; }
.select-radio-icon:before { @extend .icon; width: rem(32); height: rem(32);margin-right:rem(16); background-image: url(../images/select-radio-icon.png); background-size: 100% 100%; }
.select-icon-radio { @extend .icon; width: rem(37);height:rem(37);background-image: url(../images/select-icon-radio.png); background-size: 100%; }
.icon-radio { @extend .icon; width: rem(37);height:rem(37);background-image: url(../images/radio-icon.png); background-size: 100%; }
.scroll { &::-webkit-scrollbar-track { border-radius: rem(3); }
  &::-webkit-scrollbar { width: rem(3); background-color: rgba(245, 245, 245, 0.1); }
  &::-webkit-scrollbar-thumb { border-radius: rem(3); background-color: rgba(245, 245, 245, 0.2); }
}
.placeholder-color { &::-webkit-input-placeholder { color: #979797; }
  &:-moz-placeholder { color: #979797; }
  &::-moz-placeholder { color: #979797; }
  &:-ms-input-placeholder { color: #979797; }
}
@mixin font-color($font, $color) { 
	font-size: rem($font); 
	color: $color; 
}
@mixin height-line($height) { 
	height: rem($height); 
	line-height: rem($height); 
}
@mixin width-height($width, $height) { 
	width: rem($width); 
	height: rem($height); 
}


@mixin allcover{
	position:absolute;
	top:0;
	right:0;
}

@mixin center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

@mixin cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}


@mixin fj($type: space-between){
	display: -webkit-flex; /* Safari */
    display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	justify-content: $type;

}

@mixin flex($flex){
	-webkit-box-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}